
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');


:root {
  font-family: "News Cycle", sans-serif, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "News Cycle", sans-serif;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  
}
button:hover {
  background-color: #646cff;
  color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/*------------ Global ------------*/
.text-small {
  font-size: 0.8em;
  color: #333;
}

/* ------------------ NavBar ---------------------------------------------------------*/

.navbar {
  height: 100px;
  position: fixed;
  width: 100vw;
}

/*------------------- Hero ----------------------------------------------------------*/

.hero-main-container {
  background: url('../hero-blog.png');
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 2.5em;
}

.hero-main-container p {
  font-size: 1.2rem;
}

.hero-main-container h1 {
  margin: 25px 0;
}

.hero-content-center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  background-color: rgba(0,0,0,0);
  color: white;
}

.hero-content-center button {
  margin: 20px 10px 20px 10px;
  padding: 20px 30px
}

/*------------ Home Grid -------------------*/
.home-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/*---------------------Trending Block ---------------------*/
.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70%;
  padding: 30px;
  text-align: center;
}

.grid-item {
  border: 1px solid #acacac88;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 3fr;
}

.index-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0 5px;
}

/* ------------- Blog -------------*/

.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
}

.blog-card {
  width: 80%;
  margin: 30px 0px;
  text-align: center;
}

.blog-card-img {
  width: 600px;
}

.blog-cta {
  padding: 20px 100px;
  background-color: #646cff;
  color: #fff;
}

.blog-cta-delete {
  padding: 20px 100px;
  background-color: #b60000;
  color: #fff;
}

.blog-cta-delete:hover {
  color: black;
  background-color: #b60000;
}

.blog-cta:hover, .create-blog-cta:hover {
  background-color: #fff;
  border: 1px solid #646cff;
  color: #646cff;
}

.create-blog-cta {
  padding: 10px 200px;
  background-color: #646cff;
  color: #fff;
}

/*------------------ Blog Page Grid ------------------------------------------*/

.blog-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  margin-top: 50px;
}

.blog-post-container img {
  width: 60%;
}

.blog-post-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.main-blog-content {
  grid-area: 2 / 1 / span 4 / span 3;
}

.side-bar-content {
  grid-area: 1 / 4 / span 4 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  margin-top: 50px;
}

/* -------------------- Update / Delete Blog Buttons ----------------------------------*/

.update-delete {
  grid-area: 1 / 1 / span 1 / span 3;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.update-delete button {
  margin: 10px;
  background-color: #1a1a1a;
  letter-spacing: 0.3em;
}

.btn-delete {
  background-color: #b60000;
}

/* --------------------- Delete Blog Pop-Up ---------------------------*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  text-align: center;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
